body {
    background-color: black;
}

.present {
    margin-top: 80px;
}

/* DESCRIPCION DE LAS PELICULAS */
.Imagen {
    color: white;
    font-family: 'Book Antiqua';
    background-color: black;
    padding: 20px;
    display: flex;
}


#imagen {
    width: 180px;
    height: 180px;
    color: white;
    border-radius: 15px;
    background-color: black;
}

.contenido {
    margin-left: 3%;
    background-color: black;
    display: flex;
}

#cap {
    color: #FECA76;
}

#stars {
    width: 160px;
    height: 50px;
}

.boton {
    margin-left: 450px;
    margin-top: 70px;
    width: 100%;
}

#btnVer {
    width: 150px;
    height: 50px;
    background-color: #FECA76;
    font-family: 'Book Antiqua';
    color: black;
    font-size: 2rem;
    justify-content: center;
    line-height: 40px;
    border-radius: 5px;
}

.descripcion {
    background-color: black;
    font-family: 'Book Antiqua';
    color: white;
    font-size: 2rem;
    text-align: justify;
    padding: 20px;
}

/* PUBLICIDAD */
.publicidad {
    position: absolute;
    width: 330px;
    height: 230px;
    border-radius: 20px;
    background-color: white;
    color: black;
    text-align: center;
    padding: 10px;
    top: 10%;
    left: 75%;
    transform: translate(-10% -75%)
}

#imagenA {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

#h4 {
    color: black;
    font-family: 'Book Antiqua';
    margin-top: 30px;
    margin-left: 12px;
}

#H4 {
    font-weight: bold;
    margin-top: 30px;
    color: black;
    font-family: 'Book Antiqua';
}

.info {
    margin: auto;
    margin-top: 20px;
    background-color: white;
    height: 110px;
    width: 295px;
    display: flex;
    padding: 5px;
}