
@{
    ViewBag.Title = "Ander";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/Content/Ander.css"/>

<h1>Hola guapa/o!</h1>
<body>
    <div class="publicidad">
        <div class="info">
            <img src="~/Imagenes/Ander.png" id="imagenA" />
            <h4 id="tqConocer">Anderson te quiere conocer</h4>
        </div>
        <h4 id="aKilometros">A 2 KILOMETROS DE TI</h4>
    </div>
</body>