
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/Content/Details.css" />

<body>
    <div class="present">
        <div class="Imagen">
            <img src="~/Imagenes/One Piece.jpg" id="imagen" alt="One Piece" />
            <div class="contenido">
                <div class="atributos">
                    <h1 id="name">One Piece</h1>
                    <h3 id="cap">1,000 Episodios</h3>
                    <img src="~/Imagenes/Star's.png" id="stars" alt="Stars" />
                </div>
                <div class="boton">
                    <a class="btn btn-Primary" id="btnVer" href="https://localhost:44303/View/See">Ver Ahora</a>
                </div>
            </div>
        </div>
        <a href="https://localhost:44303/View/Ander" target="_blank">
            <div class="publicidad">
                <div class="info">
                    <img src="~/Imagenes/Ander.png" id="imagenA" />
                    <h4 id="h4">Anderson te quiere conocer</h4>
                </div>
                <h4 id="H4">A 2 KILOMETROS DE TI</h4>
            </div>
        </a>
        <div class="descripcion">
            <h2>Description</h2>
            <br />
            <p>
                "At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere perferendis doloribus asperiores repellat."
            </p>
        </div>
    </div>
</body>
