
@{
    ViewBag.Title = "Play";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/Content/Play.css" />

<body>
    <div class="box">
        <div class="video">
            <video src="~/Imagenes/One Piece - Tráiler.mp4" controls id="video"></video>
        </div>
        <div id="boton">
            <button class="btn btn-warning" type="button">
                @Html.ActionLink("Volver", "Films")
            </button>
        </div>
    </div>
</body>